@charset "utf-8";
/* CSS Document */

div.outset {
	width: 700px;
	height: 4000px;
	border-style: outset;
	border-width: 8px;
	border-color: teal;
	position: relative;
	left: 440px;
}

h3 {
	font-family: "Comic Sans MS";
	text-align: left;
	color: black;
}

h4 {
	font-family: "Comic Sans MS";
	text-align: left;
	color: dodgerblue;
}

h5 {
	font-family: "Comic Sans MS";
	text-align: left;
	color: black;
}

a {
	font-family: "Comic Sans MS";
	color: #0082B6;
}

body{
	background-image:url("Miaoli_image/food_background.png");
}